{# app/Resources/views/child/cgv.html.twig #}
{% extends 'base.html.twig' %}

{% block breadcrumb %}
<ol class="breadcrumb">
  <li> <a href="/{{ app.request.locale }}">
    <i class="glyphicon glyphicon-home"></i>&nbsp;{{ "Accueil" | trans}}</a></li>
    <li class="active"><a href="/cgv">{{ "Conditions générales de ventes" | trans }}</a></li>
</ol>

{% endblock %}

{% block section %}
		    <div id="cgv">
		    ETABLISSEMENT PUBLIC DU MUSEE DU LOUVRE – CONDITIONS GENERALES DE VENTE
			
			<h1>{{ "ETABLISSEMENT PUBLIC DU MUSEE DU LOUVRE" | trans}}</h1><br>

			<ul id="articles-list">
				<li><a href="#1">{{ "Article 1 : Objet" | trans}}</a></li>
				<li><a href="#2">{{ "Article 2 : Identification de l’Etablissement Public du Musée du Louvre" | trans}}</a></li>
				<li><a href="#3">{{ "Article 3 : Information sur les billets d’entrée au Musée du Louvre" | trans}}</a></li>
				<li><a href="#4">{{ "Article 4 : Modalités de commande" | trans}}</a></li>
				<li><a href="#5">{{ "Article 5 : Modalités de paiement" | trans}}</a></li>
				<li><a href="#6">{{ "Article 6 : Exécution de la commande" | trans}}</a></li>
				<li><a href="#7">{{ "Article 7 : Demande d’annulation et de remboursement" | trans}}</a></li>
				<li><a href="#8">{{ "Article 8 : Modalités de retrait des billets" | trans}}</a></li>
				<li><a href="#9">{{ "Article 9 : Obligations de l’acheteur" | trans}}</a></li>
				<li><a href="#10">{{ "Article 10 : Responsabilité" | trans}}</a></li>
				<li><a href="#11">{{ "Article 10 : Documents contractuels" | trans}}</a></li>
				<li><a href="#12">{{ "Article 11 : Intégralité du contrat" | trans}}</a></li>
				<li><a href="#13">{{ "Article 13 : Droit applicable - règlement de litiges" | trans}}</a></li>
			</ul>
	<div id="text-cgv">
	Les présentes conditions sont applicables à compter du xx xx 2011
	<div class="articles" id="1">{{ "Article 1 : Objet" | trans}}</div>
	Les dispositions ci-dessous constituent un contrat établissant les conditions générales de vente en
	nombre de billetterie de l’Etablissement Public du Musée du Louvre.
	Elles s'appliquent de plein droit et sans restriction à toutes les commandes de billetterie en nombre
	effectuées auprès de l’EPML.
	L’EPML se réserve la possibilité d’adapter ou de modifier à tout moment les présentes conditions
	générales de vente. Les conditions applicables sont celles en vigueur au jour de la réception du bon
	de commande
	Le fait de passer commande implique l'adhésion entière et irrévocable de l’acheteur aux présentes
	conditions générales de vente.
	Ces conditions s'appliquent à l'exclusion de toutes autres conditions de vente, notamment celles en
	vigueur pour les ventes sur place, aux groupes, en ligne ou par les réseaux de vente partenaires.
	<div class="articles" id="2">{{ "Article 2 : Identification" | trans}}</div>
	Etablissement public à caractère administratif regroupant le musée national du Louvre et le musée
	national Eugène Delacroix, conformément aux dispositions du décret n° 92-1338 du 22 décembre
	1992 modifié portant création de l'Etablissement Public du Musée du Louvre.
	Siret n° 180 046 237 000 12 - APE n° APE 9103Z
	Domicilié Musée du Louvre - 75058 Paris Cedex 01 - France
	Pour la billetterie en nombre :
	Billetterie en nombre
	Service vente et réservation à distance
	162 rue de Rivoli
	75058 paris cedex 01 
	ETABLISSEMENT PUBLIC DU MUSEE DU LOUVRE – CONDITIONS GENERALES DE VENTE
	2
	Accueil du lundi au vendredi de 14h30-17h, bureau d’accueil Billetterie en nombre,
	162 rue de Rivoli 75001 Paris, 3ème étage.
	Téléphone : 01 40 20 58 80 (du lundi au vendredi, 14h30-17h)
	billetterieennombre@louvre.fr
	<div class="articles" id="3">{{ "Article 3 : Information sur les billets d’entrée au musée du Louvre" | trans}}</div>
	Sont proposés en vente de billetterie en nombre, les prestations suivantes :
	- Billet d’entrée aux collections permanentes et aux expositions temporaires comprises dans le
	circuit de visite, donnant également accès aux collections et expositions temporaires du musée
	Delacroix et de l'antenne du musée du quai Branly au Louvre :
	10 euros
	Une remise de 50 centimes est appliquée par billet à partir d’une commande minimum de 500
	billets.
	Les mentions suivantes sont portées au recto du billet :
	« MUSEE»
	« Date : » champ libre où doit être reportée la date du jour de la visite
	« Tp 10 euros »
	« Billet valable 1 jour»
	« Expire le xx/xx/xxxx» 1 an après la date de la commande
	« Gratuit -26ans EEE et 1er dimanche du mois »
	- Billet d’entrée aux expositions temporaires du Hall Napoléon
	11 euros
	Une remise de 1 euro est appliquée par billet pour toute commande d’un minimum de 20 billets
	faite par un comité d’entreprise ou une association culturelle.
	Les mentions suivantes sont portées au recto du billet :
	« EXPOSITION TEMPORAIRE »
	« xxxxxx » titre de l’exposition
	« Date : » champ libre où doit être reportée la date du jour de la visite
	« Tp 11 euros »
	« Billet valable 1 jour»
	« Expire le xx/xx/xxxx» date du dernier jour de l’exposition
	« Gratuit -18 ans»
	- Billet d’entrée aux collections permanentes et à l’exposition temporaire du Hall Napoléon
	14 euros
	Les mentions suivantes sont portées au recto du billet :
	« MUSEE + EXPO HALL NAPOLEON »
	« Date : » champ libre où doit être reportée la date du jour de la visite
	« Tp 14 euros »
	« Billet valable 1 jour»
	« Expire le xx/xx/xxxx» 1 an après la date de la commande
	« Gratuit - 18 ans»
	Les tarifs sur le domaine national du Louvre et des Tuileries sont établis sous réserve de
	modifications.
	En cas de modification des tarifs, les tarifs applicables sont ceux en vigueur au moment de
	l'enregistrement de la commande. 
	ETABLISSEMENT PUBLIC DU MUSEE DU LOUVRE – CONDITIONS GENERALES DE VENTE
	3
	<div class="articles" id="4">{{ "Article 4 : Modalités de commande" | trans}}</div>
	L’acheteur envoie un bon de commande, selon le modèle joint en annexe, dûment rempli à
	l’adresse suivante :
	Musée du Louvre
	Billetterie en nombre - Service vente et réservation à distance –
	162 rue de Rivoli
	75058 PARIS cedex 01
	billetterieennombre@louvre.fr
	Un minimum de 20 billets par commande est requis.
	Les bons de commande incomplets ne sont pas traités par l’EPML qui en informera l’acheteur.
	Le bon de commande vaut pour engagement et constitue une acceptation irrévocable qui ne peut être
	remise en cause que dans les cas limitativement prévus aux présentes conditions générales à l’article
	"Exécution de la commande".
	L’acheteur peut joindre un paiement ou faire la demande au préalable d’une facture pro forma, avant
	d’effectuer le règlement.
	<div class="articles" id="5">{{ "Article 5 : Modalités de paiement" | trans}}</div>
	Toutes les commandes, quelle que soit leur origine, sont payables en euros.
	Dans le cadre fixé par le décret n°2004-836 du 20 août 2004 pris en application de l’article 1341 du
	code civil, l’EPML a opté pour un plafonnement du règlement par carte bancaire à 1500€.
	Le règlement s’effectue :
	- Par chèque à l’ordre de M. l’Agent comptable de l’Etablissement Public du Musée du
	Louvre (à envoyer à Musée du Louvre -Billetterie en nombre - Service vente et réservation
	à distance- 75058 Paris cedex 01).
	- Par virement à l’ordre de M. l’Agent comptable de l’Etablissement Public du Musée du
	Louvre sur le compte IBAN FR76 1007 1750 0000 0010 0035 291.
	L’acheteur doit porter en objet de son virement la mention BN suivi des initiales de sa société (8
	caractères maximum) et en informer le musée du Louvre à billetterieennombre@louvre.fr et
	agence.comptable@louvre.fr .
	- Par carte bancaire : la mention du numéro de carte, de sa date d'expiration et de son
	numéro crypto sur le bon de commande vaut mandat de payer le montant total de la
	commande. Le bon de commande doit impérativement être signé par le porteur de la
	carte de paiement sans quoi la commande ne pourra pas être traitée.
	Les cartes acceptées sont les cartes des réseaux CARTE BLEUE, VISA, EUROCARD
	MASTERCARD, AMERICAN EXPRESS, JCB.
	Les données relatives à la carte bancaire ne sont conservées que pendant le temps de traitement de
	la commande.
	<div class="articles" id="6">{{ "Article 6 : Exécution de la commande" | trans}}</div>
	L’envoi d’un bon de commande vaut pour engagement.
	A la réception du paiement, le service vente et réservation à distance de l’EPML traite la demande
	sous 3 jours ouvrés et en informe l’acheteur par courriel. La commande ainsi traitée ne peut faire
	l’objet de modifications : les billets ne sont ni repris, ni remboursés, ni échangés par l’EPML.
	A titre exceptionnel, une commande non traitée peut être modifiée, l’acheteur adresse la demande par
	courrier ou par courriel accompagnée du nouveau bon de commande. Aucune modification n’est
	possible après réception du paiement 
	ETABLISSEMENT PUBLIC DU MUSEE DU LOUVRE – CONDITIONS GENERALES DE VENTE
	4
	En cas de non réception du règlement par l’EPML sous 15 jours, la commande sera automatiquement
	annulée.
	Par ailleurs, l’EPML se réserve le droit de refuser toute commande d'un client avec lequel un litige en
	cours existerait.
	<div class="articles" id="7">{{ "Article 7 : Demande d’annulation et de remboursement" | trans}}</div>
	Conformément à l’article L 121-20-4 du code de la Consommation, la vente de billets d’entrée pour un
	musée ou à de prestations liées à celui-ci est assimilée à une prestation de services de loisirs et
	n’ouvre à aucun droit à un délai de rétractation.
	Les billets achetés en ligne ne sont ni remboursables, ni repris, ni échangés, sauf en cas d’annulation
	par l’EPML de la prestation correspondante.
	<div class="articles" id="8">{{ "Article 8 : Modalités de retrait des billets" | trans}}</div>
	L’acheteur retire les billets auprès du musée du Louvre, du lundi au vendredi, de 14h30 à 17h.
	Accueil de la billetterie en nombre
	Service vente et réservation à distance
	3ème étage - 162 rue de Rivoli
	75001 Paris
	L’acheteur est tenu de vérifier le nombre et l'état des billets et de valider le bon de réception qui lui est
	remis.
	<div class="articles" id="9">{{ "Article 9 : Obligations de l’acheteur" | trans}}</div>
	L’acheteur a l’obligation :
	- d’informer ses clients des jours et horaires d’ouverture du Musée du Louvre, de ses conditions
	tarifaires et du règlement de visite du musée du Louvre ;
	- de traiter tout litige ou réclamation relatifs à la revente des billets.
	<div class="articles" id="10">{{ "Article 10 : Responsabilité" | trans}}</div>
	Ni l’EPML, ni l’acheteur ne sauraient être tenus responsables de toute inexécution qui aurait pour
	origine un cas de force majeure, échappant à leur contrôle, incluant notamment, sans que cela soit
	limitatif, les cas de guerre, d'émeute, d'insurrection, d'interruption de transport, de problème
	d'importation ou d'exportation, de grève, de lock-out, de pénurie, d'incendie, de tremblement de terre,
	de tempête, d'inondation.
	l’EPML ne pourrait être tenu responsable de l'usage des billets commandés, l’acheteur étant seul
	responsable de leur utilisation par lui-même ou par un tiers.
	<div class="articles" id="11">{{ "Article 11 : Documents contractuels" | trans}}</div>
	Le contrat est formé par les documents contractuels suivants, par ordre de priorité décroissante :
	- les présentes conditions générales ;
	- le bon de commande signé, complété du montant de la commande et des informations
	nécessaires à l'identification de l’acheteur (nom - prénom - adresse postale de facturation
	et/ou de livraison - téléphone - adresse électronique).
	<div class="articles" id="12">{{ "Article 12 : Intégralité du contrat" | trans}}</div>
	Si, pour une quelconque raison, une des présentes conditions générales devait être déclarée
	inapplicable, cette inapplicabilité n'affecterait pas l'application des autres dispositions des conditions
	générales, celle jugée inapplicable étant alors remplacée par la disposition la plus proche possible. 
	ETABLISSEMENT PUBLIC DU MUSEE DU LOUVRE – CONDITIONS GENERALES DE VENTE
	5
	<div class="articles" id="13">{{ "Article 13 : Droit applicable - règlement de litiges" | trans}}</div>
	Le contrat est soumis au droit français.
	En cas de litige ou de réclamation, l’acheteur s'adressera en priorité à l’EPML pour obtenir une
	solution amiable.
	Les litiges sont de la compétence de la juridiction de Paris.
	</div>
	        </div>
{% endblock %}