{# app/Resources/views/child/moreresa.html.twig #}
{% extends 'base.html.twig' %}

{% block style %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
{% endblock %}

{% block scripthead %}

  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
      <script>

         $(document).ready(function() {
             $.datepicker.regional['fr'] = {clearText: 'Effacer', clearStatus: '',
                closeText: 'Fermer', closeStatus: 'Fermer sans modifier',
                prevText: '&lt;Préc', prevStatus: 'Voir le mois précédent',
                nextText: 'Suiv&gt;', nextStatus: 'Voir le mois suivant',
                currentText: 'Courant', currentStatus: 'Voir le mois courant',
                monthNames: ['Janvier','Février','Mars','Avril','Mai','Juin',
                'Juillet','Août','Septembre','Octobre','Novembre','Décembre'],
                monthNamesShort: ['Jan','Fév','Mar','Avr','Mai','Jun',
                'Jul','Aoû','Sep','Oct','Nov','Déc'],
                monthStatus: 'Voir un autre mois', yearStatus: 'Voir un autre année',
                weekHeader: 'Sm', weekStatus: '',
                dayNames: ['Dimanche','Lundi','Mardi','Mercredi','Jeudi','Vendredi','Samedi'],
                dayNamesShort: ['Dim','Lun','Mar','Mer','Jeu','Ven','Sam'],
                dayNamesMin: ['Di','Lu','Ma','Me','Je','Ve','Sa'],
                dayStatus: 'Utiliser DD comme premier jour de la semaine', dateStatus: 'Choisir le DD, MM d',
                dateFormat: 'dd/mm/yy', firstDay: 0, 
                initStatus: 'Choisir la date', isRTL: false};

            $.datepicker.regional['en'] = {dateFormat: 'dd/mm/yy'};

            $.datepicker.setDefaults( $.datepicker.regional[ "{{ app.request.locale }}" ] );
            $('.date_naissance').datepicker(
                 );
            $('.jour_visite').datepicker({
                minDate:0
                });
            
            $( "button, input[type='button']" ).click(function() {
                $( "#dialog-confirm" ).data('id', this.name);
                $( "#dialog-confirm" ).dialog({
                    resizable: false,
                    height: "auto",
                    width: 400,
                    modal: true,
                    buttons: {
                        {% trans %}"Supprimer le billet"{% endtrans %} : function() {
                            var id = $( "#dialog-confirm" ).data('id');
                            $('#' + id).slideUp( "slow", function() {
                                $('#' + id).remove();   
                            })
                            $( this ).dialog( "close" );
                        },
                            {% trans %}"Annuler"{% endtrans %} : function() {
                            $( this ).dialog( "close" );
                        }
                    }
                });

            

             });
             

        });
    </script>
{% endblock %}

{% block breadcrumb %}
 <div class="btn-group btn-breadcrumb">
    <a href="/{{ app.request.locale }}" class="btn btn-default">
    <i class="glyphicon glyphicon-home">&nbsp;{{ "Accueil" | trans}}</i></a>
    <a href="/quantite_ticket" class="btn btn-default">{{ "Quantité de billets" | trans }}</a>
</div>
{% endblock %}

{% block section %}

<div style="display: none;"  id="dialog-confirm" title="{{ "Suppression de billet" | trans}}">
  <p class="alert alert-danger"><span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>{{ "Etes vous sûr de vouloir supprimer le billet ?" | trans}}</p>
</div>

{{ form_start(form) }}

{# {{ form_widget(form) }} #}

{% for resa in form.resas %}
    <div id="billet{{ loop.index }}">
        <h2>{{ "Billet" | trans}} n°{{ loop.index }}</h2>
        <h3>{{ "Coordonnées" | trans}}</h3>
        {{ form_row(resa.nom) }}
        {{ form_row(resa.prenom) }}
        {{ form_row(resa.email) }}
        {{ form_row(resa.pays) }}
        {{ form_row(resa.date_naissance) }}
        <hr>
        <h3>{{ "Reservation de billets" | trans}}</h3>
        {{ form_row(resa.jour_visite) }}
        {{ form_row(resa.type_billets) }}
        {{ form_row(resa.tarif_reduit) }}
        <input type="button" name="billet{{ loop.index }}" class="btn btn-danger marge-btn pull-right" value="{{ "Supprimer le billet" | trans}}"/>
    </div>
{% endfor %}

{{ form_errors(form) }}
    <input type="submit" class="btn btn-primary marge-btn" value="{{ "Envoyer" | trans}}"/>
    <p>{{ "Tous les champs sont obligatoires" | trans}}.

    {{ "En cas de tarifs réduits ou spéciaux une pièce justificative vous sera demandée,
        plus de détails dans la section Accès et infos pratiques" | trans}}</p>
{{ form_end(form) }}

{% endblock %}

{% block script %}
{% endblock %}