{# app/Resources/views/child/moreresa.html.twig #}
{% extends 'base.html.twig' %}

{% block style %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
{% endblock %}

{% block scripthead %}

  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
      <script>

         $(document).ready(function() {

            // partie calendrier et control

             $.datepicker.regional['fr'] = {clearText: 'Effacer', clearStatus: '',
                closeText: 'Fermer', closeStatus: 'Fermer sans modifier',
                prevText: '&lt;Préc', prevStatus: 'Voir le mois précédent',
                nextText: 'Suiv&gt;', nextStatus: 'Voir le mois suivant',
                currentText: 'Courant', currentStatus: 'Voir le mois courant',
                monthNames: ['Janvier','Février','Mars','Avril','Mai','Juin',
                'Juillet','Août','Septembre','Octobre','Novembre','Décembre'],
                monthNamesShort: ['Jan','Fév','Mar','Avr','Mai','Jun',
                'Jul','Aoû','Sep','Oct','Nov','Déc'],
                monthStatus: 'Voir un autre mois', yearStatus: 'Voir un autre année',
                weekHeader: 'Sm', weekStatus: '',
                dayNames: ['Dimanche','Lundi','Mardi','Mercredi','Jeudi','Vendredi','Samedi'],
                dayNamesShort: ['Dim','Lun','Mar','Mer','Jeu','Ven','Sam'],
                dayNamesMin: ['Di','Lu','Ma','Me','Je','Ve','Sa'],
                dayStatus: 'Utiliser DD comme premier jour de la semaine', dateStatus: 'Choisir le DD, MM d',
                dateFormat: 'dd/mm/yy', firstDay: 0, 
                initStatus: 'Choisir la date', isRTL: false};

            $.datepicker.regional['en'] = {dateFormat: 'dd/mm/yy'};

            $.datepicker.setDefaults( $.datepicker.regional[ "{{ app.request.locale }}" ] );
            $('.date_naissance').datepicker();

            var array = ["01/01","01/05","08/08","14/07","15/08","01/11","11/11","25/12"];

            function closedDay(date){
                    var day = date.getDay();
                    var string = jQuery.datepicker.formatDate('dd/mm', date);
                    return [ array.indexOf(string) == -1 && day != 2 && day != 0 ];
            }

            $( ".jour_visite" ).focusin(function() {
               $(this).prop('readonly', true);
            });

            $( ".jour_visite" ).focusout(function() {
               $(this).prop('readonly', false);
            });
      
            $('.jour_visite').datepicker({
                minDate:0,
                beforeShowDay: closedDay,
                onSelect: function() {
                    $idJour = this.id;
                    var idType = $idJour.replace("jour_visite", "type_billets");
                    var option = $('<option></option>').attr("value", "Demi-journée").text("Demi-journée");
                    var option2 = $('<option></option>').attr("value", "Journée").text("Journée");
                    if ("{{ "now"|date("d/m/Y") }}" == this.value) {
                        if({{ "now"|date("Hi") }} >= 1400) {
                            alert("Seul le billet demi journée est disponible, pour une réservation après 14 heures le jour même"); 
                            $("#"+ idType).empty().append(option); 
                        }    
                    } else {
                        $("#"+ idType).empty().append(option2);
                        $("#"+ idType).append(option);  
                    }    
                }   
            });
            
            // modal delete et control
            var bLength;

            disableDelete();

            function disableDelete() {
                var bLength = $(":button[id='del']").length;
                if (bLength == 1) {
                    $("#del").attr('disabled',true);
               }
            }
           

            $( "button, input[type='button']" ).click(function() {
                $( "#dialog-confirm" ).data('id', this.name);
                $( "#dialog-confirm" ).dialog({
                    resizable: false,
                    height: "auto",
                    width: 400,
                    modal: true,
                    buttons: {
                        {% trans %}"Supprimer le billet"{% endtrans %} : function() {
                            var id = $( "#dialog-confirm" ).data('id');
                            $('#' + id).slideUp( "slow", function() {
                                $('#' + id).remove();
                                disableDelete();   
                            })
                            $( this ).dialog( "close" );
                        },
                            {% trans %}"Annuler"{% endtrans %} : function() {
                            $( this ).dialog( "close" );
                        }
                    }
                });

            

             });
             

        });
    </script>
{% endblock %}

{% block breadcrumb %}
 <div class="btn-group btn-breadcrumb">
    <a href="/{{ app.request.locale }}" class="btn btn-default">
    <i class="glyphicon glyphicon-home">&nbsp;{{ "Accueil" | trans}}</i></a>
    <a href="/quantite_ticket" class="btn btn-default">{{ "Quantité de billets" | trans }}</a>
</div>
{% endblock %}

{% block section %}

<div style="display: none;"  id="dialog-confirm" title="{{ "Suppression de billet" | trans}}">
  <p class="alert alert-danger"><span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>{{ "Etes vous sûr de vouloir supprimer le billet ?" | trans}}</p>
</div>

{{ form_start(form) }}

{# {{ form_widget(form) }} #}

{% for resa in form.resas %}
    <div id="billet{{ loop.index }}">
        <h2>{{ "Billet" | trans}} n°{{ loop.index }}</h2>
        <h3>{{ "Coordonnées" | trans}}</h3>
        {{ form_row(resa.nom) }}
        {{ form_row(resa.prenom) }}
        {{ form_row(resa.email) }}
        {{ form_row(resa.pays) }}
        {{ form_row(resa.date_naissance) }}
        <hr>
        <h3>{{ "Reservation de billets" | trans}}</h3>
        {{ form_row(resa.jour_visite) }}
        {{ form_row(resa.type_billets) }}
        {{ form_row(resa.tarif_reduit) }}
        <input type="button" id="del" name="billet{{ loop.index }}" class="btn btn-danger marge-btn pull-right" value="{{ "Supprimer le billet" | trans}}"/>
    </div>
{% endfor %}

{{ form_errors(form) }}
    <input type="submit" class="btn btn-primary marge-btn" value="{{ "Envoyer" | trans}}"/>
    <p>{{ "Tous les champs sont obligatoires" | trans}}.

    {{ "En cas de tarifs réduits ou spéciaux une pièce justificative vous sera demandée,
        plus de détails dans la section Accès et infos pratiques" | trans}}</p>
{{ form_end(form) }}

{% endblock %}

{% block script %}
{% endblock %}