{# app/Resources/views/child/qty_ticket.html.twig #}
{% extends 'base.html.twig' %}

{% block breadcrumb %}
<ol class="breadcrumb">
  <li> <a href="/{{ app.request.locale }}">
    <i class="glyphicon glyphicon-home"></i>&nbsp;{{ "Accueil" | trans}}</a></li>
    <li class="active"><a href="/quantite_ticket">{{ "Quantité de billets" | trans }}</a></li>
</ol>
{% endblock %}

{% block section %}
    {{ form_start(form) }}
    {{ form_errors(form) }}
    {{ form_widget(form) }}
    <input type="submit" class="btn btn-primary marge-btn" value="{{ "Continuer la réservation" | trans}}"/>
    {{ form_end(form) }}
{% endblock %}